    
    <div class="container">
        <div class="menu-login">
            <h1>Entrar</h1>
            <div class="entrada justify-center">
                <input  type="text" id="usuario">
                <label for='usuario'>Usuario</label>
            </div>
            <div class="entrada justify-center">
                <input type="password" id="senha">
                <label>Senha</label>
            </div>
            <div class="justify-center">
                <button >
                    LogIn
                </button>
            </div>
            <div>
                <hr>
            </div>
            <div>
                <p>
                    Não tem uma conta?
                    <a routerLink="/cadastro"> Cadastre-se </a>
                </p>
            </div>
        </div>
    </div>
