.conteiner{
    display: flex;
    margin-top: 25px;
}

.sub-conteiner{
    justify-content: center;
    justify-items: center;
    background-color: #FFFFFF90;
    min-width: 47vw;
    min-height: 85vh;
    border-radius: 40px;
}

.esp{
    width: 50px;
}

.tile{
    text-align: center;
}

