<div class="conteiner">

    <div class="sub-conteiner">
        <div fxLayout="row wrap" class="header">
            <div fxFlex="50" fxFill fxLayoutAlingn="start center" class="tile">
                <h1>Top Produtos</h1>
                <h3>Os mais pesquisados</h3>
            </div>
            <div fxFlex="50" fxFill fxLayoutAlingn="start center" class="date">
                
            </div>
        </div>
        
        <ul>
            <li *ngFor="let produto of produtos" class="lista">
                <span class="li-produtos">Produto: {{produto.nome}}</span> - 
                <span class="li-acesso">Acesso: {{produto.acesso}}</span>
            </li>
        </ul>
    </div>
    <div class="esp"></div>

    <div class="sub-conteiner">
        <img src="../../../assets/grafico.webp">
    </div>
    
</div>